<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Git_Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F9CE2EB31EE6350F00E9056C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9CE2ECC1EE6351000E9056C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9CE2ED71EE6351000E9056C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
